.ant-notification-notice-message {
  font-family: "Jura Bold" !important;
}

.App {
  max-width: 1920px;
  min-height: 95vh;
  margin: 0 auto;
  position: relative;
  padding-bottom: 50px;

  .table {
    min-width: 100%;
  }
}