.ant-notification-notice-message {
  font-family: "Jura Bold" !important;
}

.App {
  max-width: 1920px;
  min-height: 95vh;
  margin: 0 auto;
  position: relative;
  padding-bottom: 50px;

  .header {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    color: #000120;
    height: 80px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    flex-basis: 20%;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("../../../public/images/gray-hex.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .fullName {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size: 49px;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("../../../public/images/gray-hex.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .table {
    min-width: 100%;
  }

  .filterBlock {
    display: flex;
    margin-bottom: 20px;
    height: 80px;


    &__wrapper {
      position: relative;
      flex-basis: 20%;

      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      padding-top: 5px;

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url("../../../public/images/gray-hex.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &__checkboxList {
      display: flex;
      gap: 15px;
      align-items: center;
      justify-content: center
    }

    &__title {
      font-size: 18px;
    }
  }
}