$done-color: #e9e8ee;
$announced-color: #0e1c49;
$inProgress-color: #6f6d72;

@mixin table-config {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 2fr 2fr 1fr;
  column-gap: 10px;
  align-items: center;
}
