$done-color: #e9e8ee;
$announced-color: #0e1c49;
$inProgress-color: #6f6d72;

$base-width: 1400px - 340px;

@mixin width-table {
  &:nth-child(1n) {
    max-width: calc( $base-width * (1 / 12));
    min-width: calc( $base-width  * (1 / 12));
  }
  &:nth-child(2n) {
    min-width:  calc( $base-width  * (3.25 / 12));
    max-width:  calc( $base-width  * (3.25 / 12));
  }
  &:nth-child(3n) {
    min-width: calc( $base-width  * (4.5 / 12));
    max-width: calc( $base-width  * (4.5 / 12));
  }
  &:nth-child(4n) {
    min-width: calc( $base-width  * (1.25 / 12));
    max-width: calc( $base-width  * (1.25 / 12));
  }
  &:nth-child(5n) {
    min-width: calc( $base-width  * (1.5 / 12));
    max-width: calc( $base-width  * (1.5 / 12));
  }
  &:nth-child(6n) {
    min-width: calc( $base-width  * (0.5 / 12));
    max-width: calc( $base-width  * (0.5 / 12));
  }
}

