@font-face {
  font-family: "Jura Bold";
  src: url("../../public/fonts/Jura-Bold.woff") format("woff"),
    url("../../public/fonts/Jura-Bold.woff2") format("woff2");
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0 20px;
  font-family: "Jura Bold";
  background-image: url(../../public/images/bg.jpg);
  color: #000120;
  &::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -10;
  }
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}