@import "../../styles/var.scss";
.table__body {
  &-row {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;

    @include table-config;
  }
  &-ceil {
    padding: 5px 20px;
    white-space: nowrap; /* Запретить перенос слов */
    overflow: hidden; /* Скрыть текст, который выходит за пределы */
    text-overflow: ellipsis;

    margin-bottom: 10px;

    &--clickable {
      cursor: pointer;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }

    &--announced {
      background-color: $announced-color;
    }

    &--inProgress {
      background-color: $inProgress-color;
      color: #000;
    }

    &--done {
      background-color: $done-color;
      color: #000;
    }
  }
}
