.ant-select-selector {
  box-shadow: none !important;
}

.ant-select-dropdown {
  background-color: #e9e8ee;
  border: 1px solid #000120;
  box-shadow: none;
}
.form {
  &--overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    background-color: rgba(14, 28, 73, 0.3);
    overflow: auto;
  }

  &__wrapper {
    position: absolute;
    width: 400px;
    z-index: 100;
    top: 10%;
    left: calc(50% - 200px);
    padding: 20px 20px;

    background-color: #dae0ee;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
  }

  &__item {
    margin-bottom: 15px;
    .ant-picker-status-error,
    .ant-input-status-error {
      background-color: transparent !important;
      border: none !important;
      border-bottom: 2px solid #ff4d4f !important;
      box-shadow: none !important;
    }
    &-label {
      display: inline-block;
      cursor: pointer;
      margin-bottom: 5px;
      font-family: "Jura Bold";
    }
    .ant-picker-status-error {
      background-color: transparent !important;
    }
    &-element {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #0e1c49;
      color: #000120;
      &:hover {
        box-shadow: none;
        border: none;
        border-bottom: 2px solid #0e1c49;
        background-color: transparent;
      }

      &:focus {
        box-shadow: none;
        border: none;
        border-bottom: 2px solid #0e1c49;
        background-color: transparent;
      }

      &:focus-within {
        box-shadow: none;
        outline: none;
        border: none;
        border-bottom: 2px solid #0e1c49;
        background-color: transparent;
      }

      &:active {
        outline: none;
        border: none;
        border-bottom: 2px solid #0e1c49;
        background-color: transparent;
      }
    }

    
  }

  &__title {
    margin: 0;
  }

  &__close {
    padding: 3px;
    cursor: pointer;
    transform-origin: center center;
    transform: rotate(0deg);
    transition: transform linear 0.3s;
    &:hover {
      transform: rotate(360deg);
      transition: transform linear 0.3s;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-family: "Jura Bold";
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    font-family: "Jura Bold";
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    font-size: 16px;
    text-transform: uppercase;
    color: #dae0ee;
    padding: 10px 15px;
    transition: color linear 0.5s;
    &-hexSvg {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 120px;
      path {
        fill: #0e1c49;
        transition: fill linear 0.2s;
      }
    }

    &:hover {
      color: #000120;
      transition: color linear 0.2s;
      .form__btn-hexSvg {
        path {
          fill: transparent;
          transition: fill linear 0.2s;
          stroke: #000120; /* Цвет контура */
          stroke-width: 2; /* Ширина контура */
          stroke-dasharray: 670; /* Периметр шестиугольника */
          stroke-dashoffset: 670; /* Начальное смещение контура на длину периметра, чтобы он был невидимым */
          animation: draw 0.5s linear forwards;
        }
      }
    }
  }
}
