.create-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  flex-basis: 20%;
  font-size: 26px;
  text-transform: uppercase;
  &__hexSvg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    path {
      fill: #b4b1b8;
      transition: fill linear 0.2s;
    }
  }

  &:hover {
    .create-btn__hexSvg {
      path {
        fill: #6F6D72;
        transition: fill linear 0.5s;
        stroke: #E9E8EE; /* Цвет контура */
        stroke-width: 3; /* Ширина контура */
        stroke-dasharray: 680; /* Периметр шестиугольника */
        stroke-dashoffset: 680; /* Начальное смещение контура на длину периметра, чтобы он был невидимым */
        animation: draw 0.5s linear forwards;
      }
    }
    @keyframes draw {
      to {
        stroke-dashoffset: 0;/* Контур перемещается обратно на 0, показывая его полностью */
      }
    }
  }
}
