@import "../../styles/var.scss";

.table__head {
  &-row {
    font-size: 22px;
    text-transform: uppercase;
    color: #000;
    @include table-config;
    margin-bottom: 20px;
  }

  &-ceil {
    position: relative;
    padding: 10px 0;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("../../../public/images/white-hex.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .sort-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: background-color 0.2s ease-in-out;
    border-radius: 50%;
    &:hover {
      background-color: #6f6d7224;
      transition: background-color 0.2s ease-in-out;
    }
    .icon-wrapper {
      position: absolute;
      top: 13px;
      left: 0;
      bottom: 0;
      right: -10px;
      .moveDown-icon {
        position: absolute;
        top: -9px;
        right: 20px;
        z-index: 0;
      }

      .moveUp-icon {
        position: absolute;
        top: -9px;
        right: 10px;
        z-index: 0;
      }
    }
  }
}