@import "../../styles/var.scss";
.table__head {
  width: 100%;
  &-row {
    font-size: 22px;
    text-transform: uppercase;
    color: #000;
    height: 42px;
    width: 100%;
  }
  &-ceil {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("../../../public/images/white-hex.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    @include width-table;
  }
}
