@font-face {
  font-family: "Jura Bold";
  src: url("../public/fonts/Jura-Bold.woff") format("woff"),
    url("../public/fonts/Jura-Bold.woff2") format("woff2");
  font-weight: 700;
}

body {
  margin: 0;
  font-family: "Jura Bold";
  background-color: black;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}